.dolar{
  display: inline-block;
  margin-bottom: 10px;
}
.fiyat{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  padding: 10px;
}
.bilgiler{
  color: white;
  text-align: center;

}

.title {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

.ortak {
  margin: 15px;
  padding: 10px;
  float: left;
  border-radius: 5%;
  box-sizing: border-box;
  justify-content: center;
}

.icon1 {
  height: 100px;
  width: 100px;
  background: linear-gradient(135deg, #5FB4FE 0%, #F439DA 100%);
  margin-top: 35px;
  border-radius: 50%;
  font-size: 3.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon2 {
  height: 100px;
  width: 100px;
  background: linear-gradient(135deg, #5FB4FE 0%, #F439DA 100%);
  margin-top: 35px;
  border-radius: 50%;
  font-size: 3.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon3 {
  height: 100px;
  width: 100px;
  background: linear-gradient(135deg, #5FB4FE 0%, #F439DA 100%);
  margin-top: 35px;
  border-radius: 50%;
  font-size: 3.2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.kutu-1 {
  height: 400px;
  width: 275px;
  margin-top: 35px;
  background: linear-gradient(135deg, #5FB4FE 0%, #F439DA 100%);
}

.kutu-2 {
  height: 440px;
  width: 275px;
  background: linear-gradient(135deg, #FC20DA 0%, #FAEB7F 100%);
}

.kutu-3 {
  height: 400px;
  width: 275px;
  margin-top: 35px;
  background: linear-gradient(135deg, #9455F6 0%, #3EFB85 100%);
}
