body {
  background-color: #FAD961;
  background-image: url('C:/Users/ertgl/Desktop/WebDevelopment/proje-2/foto/speaker.png');
  background-repeat: no-repeat;
  background-size: 57% 55%;
  background-position: right 0% bottom 0%;
}

.profil {
  height: 55px;
  width: 55px;
}

.icon {
  color: white;
  float: right;
  padding-right: 30px;
}

.card-text {
  font-weight: normal;
}

.bHarf {
  font-weight: bold;
}

.x-baslik {
  font-size: 1rem;
  font-weight: bold;
}

.y-yazi {
  font-size: 0.8rem;
}

.ucret {
  border-radius: 40px;
  border: 2px solid;
  width: 25%;
  margin: 0 auto;
  font-size: 0.5rem;
  margin-top: 1.5rem;
  height: 50px;
  overflow: hidden;
}

.pledged {
  border-left-style: inset;
  border-left-color: #FAD961;
  border-left-width: 1px;
  height: 47px;
}

h1 {
  font-size: 3rem;
}

@media (max-width: 767px) {
  .ucret h4{
  font-size: 0.7rem;
  font-weight: bold;

}
  .ucret h6{
  font-size: 0.5rem;

}
  }
